/Codigos/JavaApplication6/nbproject/private/
/Codigos/Regex/nbproject/private/
/Codigos/Regex/build/
/Codigos/Regex/dist/
/Codigos/JavaApplication8/nbproject/private/
/Codigos/JavaApplication8/build/
/Codigos/JavaApplication8/dist/